[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "For building TWRP for Xiaomi Mi A2 Lite ONLY "
[access "refs/*"]
	owner = group user/Togo 77 (TogoFire)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Togo 77 (TogoFire)
	label-Verified = -1..+1 group user/Togo 77 (TogoFire)
	push = group user/Togo 77 (TogoFire)
	read = group user/Togo 77 (TogoFire)
	rebase = group user/Togo 77 (TogoFire)
	removeReviewer = group user/Togo 77 (TogoFire)
	submit = group user/Togo 77 (TogoFire)
[access "refs/heads/*"]
	create = group user/Togo 77 (TogoFire)
	push = +force group user/Togo 77 (TogoFire)
	pushMerge = group user/Togo 77 (TogoFire)
	read = group user/Togo 77 (TogoFire)
[access "refs/tags/*"]
	push = group user/Togo 77 (TogoFire)
	push = +force group user/Togo 77 (TogoFire)
