# Boot control
on boot
    start boot-hal-1-1

# DT2W
on init
    write /proc/touchpanel/enable_dt2w 1

# HVDCP
service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start hvdcp_opti
#
