allow recovery media_rw_data_file:dir { add_name };
allow recovery media_rw_data_file:file { create };
allow recovery media_rw_data_file:file { write };
allow recovery mtp_device:chr_file { ioctl };
allow recovery media_rw_data_file:file { setattr };
allow recovery media_rw_data_file:file { relabelfrom };
allow recovery media_rw_data_file:file { relabelto };
allow recovery block_device:lnk_file { unlink };
allow recovery block_device:lnk_file { create };
allow recovery sysfs:dir { read };
allow recovery sysfs:dir { open };
allow recovery rootfs:lnk_file { unlink };
allow recovery rootfs:lnk_file { create };
allow recovery recovery:capability { fsetid };
allow recovery sysfs:file { read };
allow recovery sysfs:file { open };
allow recovery sysfs:file { getattr };
allow recovery recovery:binder { set_context_mgr };
allow recovery service_contexts_file:file { read };
allow recovery nonplat_service_contexts_file:file { read };
allow recovery nonplat_service_contexts_file:file { open };
allow recovery nonplat_service_contexts_file:file { getattr };
allow recovery rootfs:dir { write };
allow recovery rootfs:dir { add_name };
allow recovery rootfs:lnk_file { create };
allow recovery rootfs:dir { create };
allow recovery block_device:dir { write };
allow recovery block_device:dir { add_name };
allow recovery block_device:dir { remove_name };
allow recovery rootfs:file { unlink };
allow recovery rootfs:lnk_file { rename };
allow recovery rootfs:file { append };
allow recovery properties_serial:file { write };
allow recovery default_prop:file { write };
allow recovery tmpfs:lnk_file { create };
allow recovery rootfs:file { setattr };
allow recovery bluetooth_prop:file { open };
allow recovery bluetooth_prop:file { getattr };
allow recovery boottime_prop:file { open };
allow recovery ion_device:chr_file { read };
allow recovery ion_device:chr_file { open };
allow recovery ion_device:chr_file { ioctl };
allow recovery system_data_file:dir { read };
allow recovery service_contexts_file:file { open };
allow recovery service_contexts_file:file { getattr };
allow recovery selinuxfs:file { write };
allow recovery hwservice_contexts_file:file { read };
allow recovery hwservice_contexts_file:file { open };
allow recovery hwservice_contexts_file:file { getattr };
allow recovery recovery:netlink_selinux_socket { create };
allow recovery recovery:netlink_selinux_socket { bind };
allow recovery rootfs:dir { remove_name };
allow recovery rootfs:dir { rmdir };
allow recovery sysfs_rtc:dir { search };
allow recovery recovery:capability { sys_time };
allow recovery mnt_vendor_file:dir { getattr };
allow recovery media_rw_data_file:dir { getattr };
allow recovery rootfs:file { create };
allow recovery rootfs:file { write };
allow recovery install_data_file:file { getattr };
allow recovery boottime_prop:file { getattr };
allow recovery ctl_bootanim_prop:file { open };
allow recovery ctl_bootanim_prop:file { getattr };
allow recovery ctl_bugreport_prop:file { open };
allow recovery ctl_bugreport_prop:file { getattr };
allow recovery ctl_console_prop:file { open };
allow recovery ctl_console_prop:file { getattr };
allow recovery ctl_dumpstate_prop:file { open };
allow recovery ctl_dumpstate_prop:file { getattr };
allow recovery ctl_fuse_prop:file { open };
allow recovery system_data_file:dir { open };
allow recovery selinuxfs:dir { read };
allow recovery selinuxfs:dir { open };
allow recovery kernel:security { compute_av };
allow recovery device:chr_file { read write };
allow recovery device:chr_file { open };
allow recovery device:chr_file { ioctl };
allow recovery recovery:binder { call };
allow recovery recovery:binder { transfer };
allow recovery vold_data_file:dir { getattr };
allow recovery vold_data_file:dir { read };
allow recovery vold_data_file:dir { open };
allow recovery kernel:system { module_request };
allow recovery recovery:netlink_kobject_uevent_socket { create };
allow recovery recovery:netlink_kobject_uevent_socket { bind };
allow recovery media_rw_data_file:dir { read };
allow recovery media_rw_data_file:dir { open };
allow recovery media_rw_data_file:file { getattr };
allow recovery vndservice_contexts_file:file { getattr };
allow recovery ctl_fuse_prop:file { getattr };
allow recovery ctl_interface_restart_prop:file { open };
allow recovery ctl_interface_restart_prop:file { getattr };
allow recovery ctl_interface_start_prop:file { open };
allow recovery ctl_interface_start_prop:file { getattr };
allow recovery ctl_interface_stop_prop:file { open };
allow recovery ctl_interface_stop_prop:file { getattr };
allow recovery ctl_mdnsd_prop:file { open };
allow recovery ctl_mdnsd_prop:file { getattr };
allow recovery ctl_restart_prop:file { open };
allow recovery sysfs:file { write };
allow recovery recovery:process { execmem };
allow recovery ashmem_device:chr_file { execute };
allow recovery media_rw_data_file:file { read };
allow recovery media_rw_data_file:file { open };
allow recovery mnt_vendor_file:file { getattr };
allow recovery mnt_vendor_file:file { read };
allow recovery mnt_vendor_file:file { open };
allow recovery sepolicy_file:file { getattr };
allow recovery init_exec:file { getattr };
allow recovery ctl_restart_prop:file { getattr };
allow recovery ctl_rildaemon_prop:file { open };
allow recovery ctl_rildaemon_prop:file { getattr };
allow recovery ctl_sigstop_prop:file { open };
allow recovery ctl_sigstop_prop:file { getattr };
allow recovery ctl_start_prop:file { open };
allow recovery ctl_start_prop:file { getattr };
allow recovery ctl_stop_prop:file { open };
allow recovery ctl_stop_prop:file { getattr };
allow recovery device_logging_prop:file { open };
allow recovery seapp_contexts_file:file { getattr };
allow recovery device_logging_prop:file { getattr };
allow recovery dumpstate_options_prop:file { open };
allow recovery dumpstate_options_prop:file { getattr };
allow recovery firstboot_prop:file { open };
allow recovery firstboot_prop:file { getattr };
allow recovery last_boot_reason_prop:file { open };
allow recovery last_boot_reason_prop:file { getattr };
allow recovery logpersistd_logging_prop:file { open };
allow recovery logpersistd_logging_prop:file { getattr };
allow recovery mtp_device:chr_file { write };
allow recovery mtp_device:chr_file { open };
allow recovery mtp_device:chr_file { read };
allow recovery recovery:netlink_kobject_uevent_socket { read };
allow recovery tmpfs:fifo_file { create };
allow recovery tmpfs:fifo_file { read };
allow recovery tmpfs:fifo_file { open };
allow recovery rootfs:fifo_file { unlink };
allow recovery lowpan_prop:file { open };
allow recovery lowpan_prop:file { getattr };
allow recovery mmc_prop:file { open };
allow recovery mmc_prop:file { getattr };
allow recovery net_dns_prop:file { open };
allow recovery net_dns_prop:file { getattr };
allow recovery netd_stable_secret_prop:file { open };
allow recovery netd_stable_secret_prop:file { getattr };
allow recovery overlay_prop:file { open };
allow recovery overlay_prop:file { getattr };
allow recovery persistent_properties_ready_prop:file { open };
allow recovery persistent_properties_ready_prop:file { getattr };
allow recovery safemode_prop:file { open };
allow recovery safemode_prop:file { getattr };
allow recovery system_boot_reason_prop:file { open };
allow recovery system_boot_reason_prop:file { getattr };
allow recovery test_boot_reason_prop:file { open };
allow recovery test_boot_reason_prop:file { getattr };
allow recovery traced_enabled_prop:file { open };
allow recovery traced_enabled_prop:file { getattr };
allow recovery wifi_prop:file { open };
allow recovery wifi_prop:file { getattr };
allow recovery rootfs:fifo_file { create };
allow recovery rootfs:fifo_file { read };
allow recovery adb_data_file:dir { getattr };
allow recovery adb_data_file:dir { read };
allow recovery adb_data_file:dir { open };
allow recovery adb_data_file:file { getattr };
allow recovery system_data_file:file { getattr };
allow recovery backup_data_file:dir { getattr };
allow recovery backup_data_file:dir { read };
allow recovery backup_data_file:dir { open };
allow recovery icon_file:file { getattr };
allow recovery fingerprintd_data_file:dir { getattr };
allow recovery property_data_file:file { read };
allow recovery fingerprint_prop:file { write };
allow recovery system_data_file:dir { write };
allow recovery system_data_file:dir { remove_name };
allow recovery system_data_file:dir { rmdir };
allow recovery system_data_file:dir { add_name };
allow recovery system_data_file:dir { create };
allow recovery system_data_file:dir { setattr };
allow recovery system_data_file:dir { relabelfrom };
allow recovery cache_file:dir { relabelto };
allow recovery rootfs:fifo_file { open };
allow recovery shortcut_manager_icons:dir { getattr };
allow recovery shortcut_manager_icons:dir { read };
allow recovery shortcut_manager_icons:dir { open };
allow recovery shortcut_manager_icons:file { getattr };
allow recovery fingerprintd_data_file:dir { read };
allow recovery fingerprintd_data_file:dir { open };
allow recovery heapdump_data_file:dir { getattr };
allow recovery heapdump_data_file:dir { read };
allow recovery heapdump_data_file:dir { open };
allow recovery system_ndebug_socket:sock_file { getattr };
allow recovery storaged_data_file:dir { getattr };
allow recovery storaged_data_file:dir { read };
allow recovery storaged_data_file:dir { open };
allow recovery storaged_data_file:file { getattr };
allow recovery preloads_data_file:dir { getattr };
allow recovery preloads_data_file:dir { read };
allow recovery preloads_data_file:dir { open };
allow recovery media_data_file:dir { getattr };
allow recovery media_data_file:dir { read };
allow recovery media_data_file:dir { open };
allow recovery mnt_vendor_file:dir { write };
allow recovery mnt_vendor_file:dir { add_name };
allow recovery mnt_vendor_file:file { create };
allow recovery mnt_vendor_file:file { write };
allow recovery tmpfs:fifo_file { getattr };
allow recovery tmpfs:lnk_file { read };
